html {
    cursor: url("cursor.png"), auto;
}
:hover {
    cursor: url("cursor.png"), auto;
}

body {
    background-color: #473064;
}

.card {
    background-image: url("gold.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    transition: all 1s ease 0s;
    margin-bottom: 8%;
}

.card:hover {
    transition: all 1s ease 0s;
    box-shadow: 
    0 0 10px #e0ac01,
    0 0 20px #e0ac01,
    0 0 30px #e0ac01;
}

.card-title {
    font-family: "la-parisienne-script-regular", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 400%;
    text-align: center
}

.form-label {
    margin-left: 8%;
    margin-top: 5%;
    font-family: "sauna-swash-new", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 190%;
}

.options {
    margin-left: 8%;
    font-family: "sauna-swash-new", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 170%;
}

.form-control, .form-select, .form-check {
  width: 80%;
  margin-left: 8%;
  font-family: "sauna-swash-new", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 160%;
}


.form-check-input:checked {
    background-color: #6e5191;
    border-color: #6e5191;
    box-shadow: 0 0 8px #6e5191;
}

.end {
  font-family: "sauna-swash-new", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 140%;
}

.box {
    border: 6px solid #1b1127;
    border-radius: 25px;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
    margin-top: 6%;
    font-family: "la-parisienne-script-regular", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 180%;
    color:#ffffff;
    background-color:#473064;
    border-radius: 25px;
    border: 2px solid white;
    transition: all 1s ease 0s;
}
.btn:hover {
    transition: all 1s ease 0s;
    color:#ffffff;
    background-color:#473064;
    border: 2px solid white;
    box-shadow: 
    0 0 10px #ffffff,
    0 0 20px #ffffff,
    0 0 30px #ffffff;
    animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}